<div id="game-container"></div>
<script src="/js/matrix-memory-game.js" type="text/javascript"></script>
<script type="text/javascript">
    const game = StartMatrixMemoryGame(document.getElementById('game-container'));
</script>