<div id="start-game-container">
    <h1>Rotation Matrix</h1>
    <p>Train your working memory by remembering the pattern of tiles.</p>
    <form action="/gameBoard">
        <input type="submit" value="I'm Ready!" />
    </form>
</div>