<div id="summary-container">
    <h1>Summary Page</h1>
    {{!-- should use a form for all these --}}
    <span>Score: {{score}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span>Tiles: {{tiles}}</span>
    <form action="/summary/addRecord" method="post">
        <label for="name">Please enter your name to record your score: </label><br />
        <input name="name" id="name" type="text"><br />
        <input name="tiles" id="tiles" type="hidden" value={{tiles}}>
        <input name="score" id="score" type="hidden" value={{score}}>
        <button>Submit</button>
    </form>

    <form action="/gameBoard">
        <input type="submit" value="Restart" />
    </form>

</div>